# fly.toml app configuration file generated for bima-backend
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "bima-backend"
primary_region = "iad"

[build]

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256

[[mounts]]
  source = "bima_storage"
  destination = "/app/storage"


[env]
  PORT = "5000"
  NODE_ENV = "production"
